body {
   background-color: rgb(244, 233, 210);
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
}
header {
   background-color: rgb(136, 29, 17);
   color: rgb(244, 233, 210);
   font-size: xxx-large;
}
article {
   background-color: rgb(202, 75, 32);
}
#header-addition {
   background-color: rgb(136, 29, 17);
   color: rgb(244, 233, 210);
}
footer {
   background-color: rgb(136, 29, 17);
   color: rgb(244, 233, 210);
   font-size: x-large;
}
